{% extends 'base.html.twig' %}

{% block title %}Le Bestiaire 404{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app_error_style') }}
{%  endblock %}

{% block body %}
    <div class="error-container">
        <div class="error-div">
            <div class="error-div_space-modulator"></div>

            <h1 class="error-div-title">404</h1>
            <p class="error-div-message">La page demandée n'a pas été trouvée ...</p>
            <a class="error-div-report" href="#">Signalez-le nous ?</a>

            <div class="error-div_space-modulator"></div>
        </div>
    </div>
{%  endblock %}
